{% extends 'common/base.html' %}
{% block content %}

<div class="student-form-container">
    <h2 class="form-heading">Edit your student information</h2>
    <form method="post" class="student-form">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                    {% if field.field.required and field.name not in "photo,bio" %}
                        <span class="required-field">*</span>
                    {% endif %}
                </label>
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="submit-button">Submit</button>
    </form>
</div>

{% endblock %}
