{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <h2>Students at {{ university.name }}</h2>
    <div class="students-container">
        {% for student in students %}
            <a href="{% url 'student-detail' student.id %}" class="student-card-link">
                <div class="student-card">
                    <div class="image-card">
                        {% if student.photo %}
                            <img src="{{ student.photo }}" alt="{{ student.first_name }} {{ student.last_name }}'s photo" class="student-photo">
                        {% else %}
                            <img src="{% static 'images/default-student.jpeg' %}" alt="{{ student.first_name }} {{ student.last_name }}'s photo" class="student-photo">
                        {% endif %}
                    </div>
                    <div class="student-info">
                        <strong>{{ student.first_name }} {{ student.last_name }}</strong>
                        <div class="student-rating">
                            <div class="stars">
                                {% for i in star_range %}
                                    <span class="star {% if i <= student.average_rating %}filled{% endif %}">&#9733;</span>
                                {% endfor %}
                            </div>
                        </div>
                        <p>📚 <em>Field of study:</em> {{ student.field_of_study }}</p>
                        <p>📅 <em>Year of Study:</em> {{ student.year_of_study }}</p>
                        {% if student.bio %}
                            <p>🧑‍ <em>About me:</em> {{ student.bio }}</p>
                        {% endif %}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}

