{% extends 'common/base.html' %}
{% load static %}

{% block content %}

    <h2>All Unis around the world</h2>

    <div class="uni-container">
        {% for university in unis %}

            <div class="uni-card">
                {% if university.logo_url %}
                    <img src="{{ university.logo_url }}" alt="{{ university.name }} Logo" class="uni-logo">
                {% else %}
                    <img src="{% static 'images/default-logo.jpg' %}" alt="Default Logo" class="uni-logo">
                {% endif %}

                {% if university.year_established %}
                    <p class="year">Founded in {{ university.year_established }}</p>
                {% endif %}
                <h3>{{ university.name }}</h3>
                <p>{{ university.city }}, {{ university.country }}</p>

                <!-- See Students Link -->
               <a href="{% url 'university_students' university_id=university.id%}">
                   <img src="{% static 'images/student.png' %}" alt="Students" ><span class="text">See all students here</span>
               </a>

                <!-- Edit/Delete Buttons -->
                {% if request.user == university.created_by and request.user.profile.is_student %}
                    <div class="uni-actions">
                        <a href="{% url 'edit-university' %}" title="Edit" class="action-icon edit-icon">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="{% url 'delete-university' %}" title="Delete" class="action-icon delete-icon">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                {% endif %}
            </div>

        {% endfor %}
    </div>

{% endblock %}
