{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UniMatch</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Satisfy&display=swap" rel="stylesheet">
</head>
<body>

     {% block navigation %}
            {% include 'common/navigation.html' %}
     {% endblock %}

    {% block content %}
    {% endblock %}

    <footer>
        {% block footer %}
            This is the footer
        {% endblock %}
    </footer>

</body>
</html>