{% load static %}

 <div class="navigation">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/Logo.png' %}" alt="Fav-Icon">
        </a>

        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'all-unis' %}">All Unis</a></li>
            <li><a href="#">My Profile</a></li>
            <li><a href="#">My Uni</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </div>