{% load static %}

<div class="navigation">
    <!-- Logo -->
    <a href="{% url 'home' %}">
        <img src="{% static 'images/Logo.png' %}" alt="UniMatch Logo">
    </a>

    <!-- Navigation Menu -->
    <ul>
        <!-- Always Visible -->
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'all-unis' %}">All Unis</a></li>

        {% if user.is_authenticated %}
            <!-- Visible to logged-in users -->
            <li><a href="{% url 'profile-details' %}">My Profile</a></li>

            {% if user_university %}
             <!-- Show My Uni -->
                <li><a href="{% url 'my-university' %}">My Uni</a></li>
            {% elif user.profile.is_student %}
                <!-- Show Add My Uni -->
                <li><a href="{% url 'add-university' %}">Add My Uni</a></li>
            {% endif %}

            <!-- Logout -->
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <!-- Visible to guests -->
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
        {% endif %}
    </ul>
</div>
