{% extends 'common/base.html' %}

{% block content %}
<div class="forum-container">
    <h1>Forum</h1>

    <div class="category-new">
        <h2>Categories:</h2>
        {% if request.user.is_authenticated %}
            <a href="{% url 'create-category' %}"><i class="fa-solid fa-square-plus"></i></a>
        {% endif %}
    </div>

    <ul class="forum-category-list">
        {% for category in categories %}
        <li class="forum-category-item">
            <a href="{% url 'category-detail' category.id %}" class="forum-category-link">{{ category.name }}</a>
        </li>
        {% endfor %}
    </ul>

    <div class="recent-threads-container">
        <div class="thread-new">
            <h2>Recent Threads:</h2>
            {% if request.user.is_authenticated %}
            <a href="{% url 'create-thread' %}"><i class="fa-solid fa-square-plus"></i></a>
            {% endif %}
        </div>
        <ul class="forum-thread-list">
            {% for thread in threads %}
            <li class="forum-thread-item">
                <a href="{% url 'thread-detail' thread.id %}" class="forum-thread-link">{{ thread.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
